body{
    
    background-color: aqua;

} 

.last{
    background-color: yellow;
    margin-left: 35%;
    padding: 9px;
    font-size: 22px;
    margin-bottom: 60px;font-weight: bold;
    color: rgb(213, 52, 52);
   
}

